<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name%> <%# 発信者（user_idに紐付く） %>
    </div>
    <div class="message-date">
      <%= l message.created_at%> <%# 発信時刻 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content%> <%# 発信内容 %>
    </div>                                                                        <%#= 画像ある場合のみ %>
    <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached?%>
  </div>
</div>